/* The answer selecteed by the user */
.selected {
    background-color: #FAE5D3;
}

/* The list of options */
.options {
    padding: 8px;
    border: 1.5px solid #000;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
}

body{
    font-family: Verdana;
    font-size: 18px;
}